---

---
<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <img
        class="mx-auto h-auto w-full max-w-xl rounded-3xl"
        width="576"
        height="864"
        src="/assets/about.webp"
        alt="Nuestros expertos trabajando juntos"
      />
      <div class="flex flex-col gap-10">
        <!-- Mission description -->
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Nuestra misión</h2>
          <div class="space-y-6">
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Nuestra misión es coordinar y representar a las iglesias evangélicas de la provincia de Málaga. Fomentamos la cooperación y la unidad entre las distintas congregaciones y denominaciones evangélicas de la región.
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Actuamos como representante de las iglesias evangélicas ante las autoridades civiles y otras entidades religiosas, defendiendo los intereses y derechos de la comunidad evangélica.
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Impulsamos iniciativas de servicio social y comunitario, tales como programas de asistencia social, educación, y apoyo a los más necesitados. Facilitamos y promovemos esfuerzos misioneros y de evangelización tanto a nivel local como más amplio.
            </p>
          </div>
        </div>

        <!-- Stats -->
        <dl class="grid grid-cols-1 gap-6 sm:grid-cols-2">
          
        </dl>
      </div>
    </div>
  </div>
</section>
